body {
    padding: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.container .item {
    background-color: white;
    border: 1px solid gray;
    padding: .2em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
}

.container .item.sortable {}

.container .item.sortable .dragHandle {
    width: 12px;
    cursor: move;
    padding: 8px 0;
}

.container .item .desc {
    color: gray;
    font-size: 90%;
}

.app {
    display: flex;
}

.state {
    padding: 0;
    margin: 0 0 0 3em;
}